body {
    background-color: #700000d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: rgb(255, 248, 248);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.login-container h2 {
    margin-bottom: 20px;
}
.form-control {
    margin-bottom: 15px;
}
.btn-primary {
    width: 100%;
    background-color: rgb(114, 0, 0);
}
.form-check-label {
    margin-left: 5px;
}
.forgot-password {
    display: block;
    text-align: right;
    margin-top: -25px;
}
.goto-home {
    display: block;
    text-align: left;
    margin-top: 10px;
}
